<h1><%= @project.name %></h1>

<ul>
  <% @time_entries.each do |time_entry| %>
    <li>
      <div>
        <%= "#{time_entry.id}" %>
      </div>
      <div><%= "Hours: #{time_entry.hours}. "\
               "Minutes: #{time_entry.minutes}" %>
      </div>
      <div>
        <%= "#{time_entry.comment}" %>
      </div>
    </li>
    <%= link_to "Delete", "/projects/#{@project.id}/time_entries/#{time_entry.id}", method: :delete, data: {confirm: "Are you sure?"} %>
  <% end %>
</ul>

<%= link_to "Projects", "/projects" %>
